body { --colorThemeDark: rgb(50,40,50); } 
body { --colorThemeMD: rgb(110,60,125); }
body { --colorThemeMid: rgb(162,125,185); }
body { --colorThemeML: rgb(200,180,210); }
body { --colorThemeLight: rgb(216,215,224); }
body { --colorBackground: rgb(35,35,35); }
body { --fontTitle: 'Montserrat Subrayada', sans-serif; }
body { --fontAll: 'Merriweather Sans', sans-serif; }

html {
	height: 100%;
}

body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--colorBackground);
	font-family: var(--fontAll);
	font-size: 16px;
	color: var(--colorThemeLight);
	letter-spacing: 0.5px;
}

#wrap {
	height: 100%;
	width: 100%;
}

h1 {
	padding: 20px 0;
	margin: 0;
	background: var(--colorThemeDark);
	color: var(--colorThemeLight);
	font-size: 2.4em;
	font-family: var(--fontTitle);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	/*border-bottom: 1px solid gray;*/
}

#container {
	/*align-content: center;*/
	text-align: center;
	margin: 25px auto 25px auto;
	max-width: 750px;
	/*overflow-y: hidden;*/
	max-height: 750px;
	display: block;
	overflow: auto;
}


footer {
	position: fixed;
	bottom: 0;
	padding: 0;
	margin: 0 auto;
	background: var(--colorThemeDark);
	height: 28px;
	text-align: center;
	width: 100%;
	font-size: 0.9em;
	border-top: 1px solid gray;
}

#about {
	display: inline-block;
	color: var(--colorThemeLight);
	margin: 0 15px;
	line-height: 28px;
	text-transform: uppercase;
}

#conversions {
	display: inline-block;
	color: var(--colorThemeLight);
	margin: 0 15px;
	line-height: 28px;
	text-transform: uppercase;
}

#contact {
	display: inline-block;
	color: var(--colorThemeLight);
	margin: 0 15px;
	line-height: 28px;
	text-transform: uppercase;
}

/* Font Awesome icons. */
/*.fa {
	color: var(--colorThemeDark	);
}*/

.tab {
	display: inline-block;
	border: none;
	background: none;
	outline: none;
	border-radius: 4px 4px 0 0;
	padding: 1px 10px 0 10px;
	margin: 5px 10px 0 10px;
	text-transform: uppercase;
	font-size: 1em;
	height: 85%;
	transition: 0.2s;
	font-family: var(--fontAll);
}

.system.selected {
	background: var(--colorThemeMid);
	color: var(--colorThemeLight);
}

.property.selected {
	background: var(--colorThemeMD);
	color: var(--colorThemeLight);
}

.square {
	float: left;
	width: 45.5%;
	height: 45.5%;
	margin: 2.25%;
	border-radius: 15px;
	box-shadow: 0 0 1pt 0.5pt gray;
}

.image {
	position: relative;
	background-size: cover;
	border-radius: 15px 15px 0 0;
	transition: background-color 0.4s;
}

.overlay {
	padding-bottom: 66%;
	transition: 0.4s;
	/* Used for correct square checkmark background. */
	background: no-repeat center;
	background-size: 45%;
}

.info {
 	position: absolute; 
 	text-align: center;
 	top: 38%; left: 0; bottom: 0; right: 0;
}

.captionBox {
	background: var(--colorThemeDark);
	margin: 0;
	height: 37px;
	border-radius: 0 0 15px 15px;
}

.caption {
	margin: 0;
	line-height: 37px;
}

#systemsStripe {
	background: var(--colorThemeLight);
	height: 28px;
	text-align: center;
}

#propertiesStripe {
	background: var(--colorThemeMid);
	height: 28px;
	text-align: center;
}

#promptStripe {
	background: var(--colorThemeMD);
	height: 36px;
	font-size: 1.1em;
	margin: 0 auto;
	text-align: center;
}

#divider {
	color: black;
}

#prompt {
	display: inline-block;
	text-align: center;
	margin: 5px auto 0 auto;
	line-height: 44px;
	width: 600px;
	background: var(--colorBackground);
	border-radius: 4px 4px 0 0;
}

.spacer {
	display: inline-block;
	width: 19%;
}

#promptUnit {
	text-decoration: underline;
}

.system.tab:hover {
	background: var(--colorThemeMid);
	color: var(--colorThemeLight);
}

.property.tab:hover {
	background: var(--colorThemeMD);
	color: var(--colorThemeLight);
}

.square.hover:hover {
	box-shadow: 0 0 0 2pt gray;
}

.image:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}